<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/FitTrackr</property>
        <!--<property name="connection.url">jdbc:h2:~/db-test.h2</property>-->
        <property name="connection.username">root</property>
        <property name="connection.password">admin</property>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="comment_connection.pool_size">1</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <!-- Disable the second-level cache -->
        <property name="comment_cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.enable_lazy_load_no_trans">true</property>


        <!-- <property name="hbm2ddl.auto">create</property> -->


        <!-- Enable Hibernate stats in the logs -->
        <property name="hibernate.generate_statistics">true</property>
        <!-- Full names of the annotated entity class -->


        <mapping class="pl.workout.FitTrackr.Model.Activity"/>
        <mapping class="pl.workout.FitTrackr.Model.Note"/>
        <mapping class="pl.workout.FitTrackr.Model.Result"/>
        <mapping class="pl.workout.FitTrackr.Model.Route"/>
        <mapping class="pl.workout.FitTrackr.Model.SportGroup"/>
        <mapping class="pl.workout.FitTrackr.Model.User"/>




    </session-factory>
</hibernate-configuration>